
:root {
    --primary-color: steelblue;
    --text-color: #222;
    --font-base: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);
    line-height: 1.5;
    color: var(--text-color);
    background: #fff;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 70px;
    left: 120px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* * Seletores de Classe */

.caixa {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
    background-color: #eee;
}

.indentacao {
    padding-left: 2rem;
}