:root {
    --primary-color: steelblue;
    --text-color: #222;
    --font-base: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);
    line-height: 1.5;
    color: var(--text-color);
    background: #fff;
    margin: 0;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

aside {
    grid-column: 1;
    grid-row: 1;
    color: #333;
    text-align: center;
    position: relative;
}

main {
    grid-column: 2;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 70px;
    left: 120px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

.caixa {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em 0;
    background-color: #eee;
}

.indentacao {
    padding-left: 2rem;
}